[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/unite-outline"]
	path = .vim/bundle/unite-outline
	url = https://github.com/Shougo/unite-outline.git
[submodule ".vim/bundle/unite-tag"]
	path = .vim/bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag.git
[submodule ".vim/bundle/neomru"]
	path = .vim/bundle/neomru
	url = https://github.com/Shougo/neomru.vim.git
