[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	dirdiff = difftool --dir-diff
	up = pull --rebase --autostash
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[diff]
	tool = gvimdiff
[merge]
	tool = gvimdiff
    conflictstyle = diff3
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[user]
	email = 517695+lepricon@users.noreply.github.com
	name = lepricon
	signingkey = D3AFD7A400B4B4A89E24B5291C8E75A94C8856B6
[pull]
	rebase = true
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
